<!DOCTYPE html>
<html lang="ru">
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/heart16.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <link href="/jslib/dojox/mobile/themes/iphone/iphone.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/jslib/dojox/widget/Calendar/Calendar.css">
    <link rel="stylesheet" href="/jslib/dojox/calendar/themes/claro/Calendar.css">
    <link href="/jslib/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" src="/jslib/dojox/mobile/deviceTheme.js"></script>-->

    <script src="/jslib/moment/moment-with-locales.js"></script>
    <script src="/jslib/numeral/numeral.js"></script>
    <script src="/jslib/numeral/languages/ru-UA.js"></script>
    <script type="text/javascript" src="/jslib/dojo/dojo.js"
            data-dojo-config="async: true, parseOnLoad: false"></script>
    <title></title>
    <style>
        .claro table.dijitCalendarContainer {
            margin: 25px auto;
        }

        .mblTooltipBubble {
            overflow: visible;
            padding: 3px;
        . mblTooltipBubble-styles;
        }

        #date_picker {
            text-align: center;
            position: relative;
            font-size: 1.5em;
            font-weight: lighter;
        }

        /*#view_main_detail_btn {*/
        /*display: inline-block;*/
        /*position: relative;*/
        /*cursor: pointer;*/
        /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/
        /*padding-bottom: 10px;*/
        /*margin-bottom: 5px;*/
        /*height: 29px;*/
        /*line-height: 29px;*/
        /*text-align: center;*/
        /*font-family: Helvetica;*/
        /*text-shadow: 0 1px 0 rgba(0, 0, 0, 1);*/
        /*font-size: 13px;*/
        /*font-weight: bold;*/
        /*vertical-align: middle;*/

        /*border-width: 1px;*/
        /*border-style: solid;*/
        /*border-color: #2f3740 #405a7e #375073 #3a4755;*/
        /*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);*/
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);*/

        /*color: #ffffff;*/
        /*background-color: #5877a2;*/
        /*background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#4a6c9b), color-stop(0.02, #8ea4c1), color-stop(0.5, #5877a2), color-stop(0.5, #476999));*/
        /*background-image: linear-gradient(to bottom, #222222 0%, #8ea4c1 2%, #5877a2 50%, #476999 50%, #4a6c9b 100%);*/
        /*}*/
    </style>
</head>
<body id="body" class="claro" style="width:100%; height: 100%">
</body>
<script>
    require(["dojo/dom-construct", "dojo/_base/xhr", "dojox/mobile", "dojox/mobile/parser", "dojox/mobile/View", "dojox/mobile/Heading", "dojox/mobile/RoundRectList",
                "dojox/mobile/ListItem", "dojo/parser", "dojo/ready", "dojox/mobile/ToolBarButton",
                "dijit/registry", "dojox/mobile/Tooltip", "dijit/CalendarLite", "dojox/mobile/IconItem", "dojox/mobile/IconContainer",
                "dojox/mobile/ToggleButton", "dojox/mobile/ScrollableView", "dojox/mobile/ProgressIndicator", "dojox/mobile/SimpleDialog", "dojox/mobile/Button",
                "calendarView", "pickUnitView", "detailView", "request"],
            function (domConstruct, xhr, mobile, mparser, View, Heading, roundRectList, ListItem, parser, ready, ToolBarButton, registry,
                      Tooltip, CalendarLite, IconItem, IconContainer, ToggleButton, ScrollableView, ProgressIndicator, SimpleDialog, Button,
                      CalendarView, PickUnitView, DetailView, Request) {
                moment.locale("uk");
                numeral.language('ru-UA');

                var viewAllBrands = new View({id:"all_brands"});
               // viewAllBrands.startup();
                document.getElementById('body').appendChild(viewAllBrands.domNode);

                viewAllBrands.inner_scroll = new ScrollableView({});
               // viewAllBrands.inner_scroll.startup();

                viewAllBrands.top_heading_main = new Heading({id: "th_main"});
                viewAllBrands.addChild(viewAllBrands.top_heading_main, 0);
                viewAllBrands.headingTop = new Heading({id: "pubtn_h"});


                var icon_btn = new ToolBarButton({
                    preventTouch: true,
                    clickable: false,
                    icon: "/icons/hearts29x29.ico",
                    iconPos: "0,0,29,29"
                });





              //     viewAllBrands.headingTop.startup();
                    if (!viewAllBrands.dialogWin) {
                        viewAllBrands.dialogWin = new SimpleDialog({
                            id: "dialogWin"
                        });
                        document.getElementById('body').appendChild(viewAllBrands.dialogWin.domNode);
                    }
                    var headingBottomAllBrands = new Heading({fixed: "bottom"});
                    // document.getElementById('body').appendChild(headingBottomAllBrends.domNode);

                    viewAllBrands.inner_scroll.domNode.appendChild(headingBottomAllBrands.domNode);
                    headingBottomAllBrands.startup();

                    if (!viewAllBrands.msgBox) {
                        viewAllBrands.msgBox = domConstruct.create("div",
                                {class: "mblSimpleDialogText"},
                                viewAllBrands.dialogWin.domNode);
                    }
                    if (!viewAllBrands.cancelBtn)
                        viewAllBrands.cancelBtn = new Button({
                            class: "mblSimpleDialogButton mblRedButton",
                            innerHTML: "Ok"
                        });
                    viewAllBrands.cancelBtn.connect(viewAllBrands.cancelBtn.domNode, "click",
                            function (e) {
                                viewAllBrands.dialogWin.hide()
                            });
                    viewAllBrands.cancelBtn.placeAt(viewAllBrands.dialogWin.domNode);
                    viewAllBrands.headingTop.addChild(icon_btn);

                    viewAllBrands.addChild(viewAllBrands.headingTop);
                    viewAllBrands.addChild(viewAllBrands.inner_scroll);
                    viewAllBrands.inner_scroll.startup();
                    viewAllBrands.startup();

                displayBtnBucketIn(viewAllBrands);


                function displayBtnBucketIn(view) {
                    var btnBasket = registry.byId("btn_basket"+view.id);
                    if (!btnBasket) {
                        btnBasket = new ToolBarButton({
                            id: "btn_basket"+view.id,
                            icon: "/icons/basket16x16.ico",
                            style: "float:right",
                            iconPos: "0,0,29,29",
                            moveTo: "view_basket",
                            transition:"none"
                        });
                    }
                    btnBasket.previousView = view;
                    btnBasket.onClick = function () {
                        goToViewBasket(btnBasket);
                    };
                    view.headingTop.addChild(btnBasket);
                    view.headingTop.startup();
                    btnBasket.startup();
                };

                function goToViewBasket(btnBasket){
                    var viewBasket = registry.byId("view_basket");
                    if (!viewBasket) {
                        viewBasket = new ScrollableView({id: "view_basket"});
                        document.getElementById('body').appendChild(viewBasket.domNode);
                        viewBasket.headingTop = new Heading({
                            label:"Корзина",
                            fixed: "top",
                            back: "Назад",
                            transition:"none"
                        });
                        var headingBottomBasket = new Heading({fixed: "bottom"});
                        viewBasket.domNode.appendChild(viewBasket.headingTop.domNode);
                        viewBasket.domNode.appendChild(headingBottomBasket.domNode);
                        viewBasket.startup();
                    }
                    viewBasket.headingTop.set("moveTo", btnBasket.previousView.id);
                }

                    viewAllBrands.loadMainContent = function () {
                        Request.getJSONData({url: "/mobile/get_units", consoleLog: true},
                                // getJSONData({url: "/mobile", condition: "action=get_units", consoleLog: true},
                                function (success, result) {
                                    if (success) {
                                        console.log("result =", result);
                                        if (result.error) {
                                            viewAllBrands.msgBox.innerHTML = "Нет данных";
                                            viewAllBrands.dialogWin.show();
                                        } else viewAllBrands.setMainContent(result);
                                    } else {//error!!!
                                        viewAllBrands.msgBox.innerHTML = "Нет связи с сервером";
                                        viewAllBrands.dialogWin.show();
                                    }
                                    if (viewAllBrands.prog) viewAllBrands.prog.stop();
                                });
                    };

                    viewAllBrands.setMainContent = function (maindata) {
                        //   viewAllBrands.setBottomButtonsFor(viewAllBrands);
                        viewAllBrands.inner_scroll.startup();
                        viewAllBrands.startup();

                        if (maindata.mode && maindata.mode.toString().toLowerCase().indexOf("test") !== -1) {               //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            var test_btn = new ToolBarButton({
                                icon: "/icons/exclamation-mark29x29.ico",
                                iconPos: "0,0,29,29",
                                style: "float:right",
                                onClick: function () {
                                    viewAllBrands.msgBox.innerHTML = maindata.mode;
                                    viewAllBrands.dialogWin.show();
                                }
                            });

                            viewAllBrands.top_heading_main.addChild(test_btn);
                        }
                        viewAllBrands.loadDetailContent();
                    };

                    viewAllBrands.loadDetailContent = function () {
                        if (viewAllBrands.view_main_list_items) viewAllBrands.view_main_list_items.destroy();
                        if (viewAllBrands.prog) viewAllBrands.prog.destroy();
                        viewAllBrands.prog = new ProgressIndicator({size: 200, center: true});
                        document.getElementById('body').appendChild(viewAllBrands.prog.domNode);
                        viewAllBrands.prog.start();

                        Request.getJSONData({
                                    url: "/mobile/get_orders",
                                    consoleLog: true
                                }
                                , function (success, result) {
                                    if (success) {                                              console.log("view_main.loadDetailContent getJSONData result=", result);
                                        var data = [];
                                        if (result.items) data = result.items;
                                        if (result.error) {
                                            viewAllBrands.msgBox.innerHTML = "Нет данных";
                                            console.log("view_main.loadDetailContent getJSONData DATA ERROR! error=", result.error);
                                            viewAllBrands.dialogWin.show();
                                        }
                                        viewAllBrands.setDetailContent(data);
                                    } else {//error!!!
                                        viewAllBrands.msgBox.innerHTML = "Нет связи с сервером";
                                        viewAllBrands.dialogWin.show();
                                    }
                                    if (viewAllBrands.prog) viewAllBrands.prog.stop();

                                }
                        );
                    };
                    viewAllBrands.setDetailContent = function (detail_data) {
                        if (viewAllBrands.view_main_list_items) viewAllBrands.view_main_list_items.destroy();
                        viewAllBrands.view_main_list_items = new roundRectList({
                            style: "position:relative",
                            "id": "view_main_list_items"
                        });
                       // viewAllBrands.inner_scroll.scrollTo({x: 0, y: 0});
                        viewAllBrands.inner_scroll.addChild(viewAllBrands.view_main_list_items);
                        viewAllBrands.view_main_list_items.startup();
                        for (var i in detail_data) {
                            var dataItem = detail_data[i];
                            var list_item = new ListItem({
                                variableHeight:true,
                                label: dataItem.label,
                                rightText: dataItem.value,
                                moveTo: "detail_order_view",
                                transition: "none"
                            });
                            if (dataItem.catid) {
                                list_item.catid = dataItem.catid;
                                list_item.onClick = function () {
                                    var viewOneBrand = registry.byId("detail_order_view");
                                    if (!viewOneBrand) {
                                        viewOneBrand = new ScrollableView({id: "detail_order_view"});
                                        document.getElementById("body").appendChild(viewOneBrand.domNode);

                                        viewOneBrand.headingTop = new Heading({
                                            fixed: "top",
                                            back: "Назад",
                                            moveTo: viewAllBrands.id,
                                            transition:"none"
                                        });
                                        var detailViewBottomHeading = new Heading({fixed: "bottom"});
                                        viewOneBrand.domNode.appendChild(viewOneBrand.headingTop.domNode);
                                        viewOneBrand.domNode.appendChild(detailViewBottomHeading.domNode);
                                        displayBtnBucketIn(viewOneBrand);
                                        viewOneBrand.headingTop.startup();
                                        viewOneBrand.startup();
                                    }
                                    viewOneBrand.scrollTo({x: 0, y: 0});
                                    viewOneBrand.headingTop.set("label",this.label);
                                    viewAllBrands.loadOrderContent(viewOneBrand, this.catid);
                                }
                            }
                            viewAllBrands.view_main_list_items.addChild(list_item);
                            list_item.startup();
                        }
                    };
//                    viewAllBrands.onBeforeTransitionIn = function () {
//                        viewAllBrands.loadDetailContent();
//                    };

                    viewAllBrands.loadOrderContent = function (view, catid) {
                        console.log("loadOrderContent catid=", catid);
                        Request.getJSONData({
                                    url: "/mobile/get_orders_detail1",
                                    condition: "catid=" + catid,
                                    //    condition: "action=get_main_data&bdate=" + bdate + "&edate=" + edate + "&" + unit_params + detail,
                                    consoleLog: true
                                }
                                , function (success, result) {
                                    if (success) {
                                        console.log("view_main.loadDetailContent getJSONData result=", result);
                                        var data = [];
                                        if (result.items) data = result.items;
                                        if (result.error) {
                                            viewAllBrands.msgBox.innerHTML = "Нет данных";
                                            console.log("view_main.loadDetailContent getJSONData DATA ERROR! error=", result.error);
                                            viewAllBrands.dialogWin.show();
                                        }
                                        viewAllBrands.fillUpOrderList(view, data);
                                    } else {//error!!!
                                        viewAllBrands.msgBox.innerHTML = "Нет связи с сервером";
                                        viewAllBrands.dialogWin.show();
                                    }
                                    if (viewAllBrands.prog) viewAllBrands.prog.stop();

                                }
                        );
                    };

                    viewAllBrands.fillUpOrderList = function (view, data) {
                        // var view = registry.byId("detail_order_view");
                        var product_list = registry.byId("product_list_d1");
                        if (product_list) product_list.destroy();
                        product_list = new roundRectList({id: "product_list_d1"});
                        var product_list_item;
                        for (var i in data) {
                            var dataItem = data[i];
                            product_list_item = new ListItem({
                                label: dataItem.label,
                                variableHeight:true,
                                rightText: dataItem.value,
                                moveTo: "product_view",
                                transition:"none"
                            });
                           // product_list_item.innerHTML="<div>" +dataItem.label+"</div>";
                            product_list_item.onClick = function () {
                                viewAllBrands.createOrderProductView(this.label);
                            };

                            product_list.addChild(product_list_item);
                        }
                        view.addChild(product_list);
                        product_list.startup();
                    };

                    viewAllBrands.createOrderProductView = function (prodName) {
                        var productView = registry.byId("product_view");
                        if (!productView) {
                            productView = new ScrollableView({id: "product_view"});
                            document.getElementById("body").appendChild(productView.domNode);
                            productView.headingTop = new Heading({
                                label:"Описание товара",
                                back: "Назад",
                                moveTo: "detail_order_view",
                                fixed: "top",
                                transition:"none"
                            });
                            var productViewBottomHeading = new Heading({fixed: "bottom"});
                            productView.domNode.appendChild(productView.headingTop.domNode);
                            productView.domNode.appendChild(productViewBottomHeading.domNode);
                            var btnAddToBasket = new ToolBarButton({label: "Добавить в корзину"});
                            productViewBottomHeading.addChild(btnAddToBasket);
                            displayBtnBucketIn(productView);

//                            var tr = registry.byId(view.id + "hfbh");
//                            var bottomHeading = registry.byId(view.id + "hf");
//                            if (!bottomHeading) {
//                                bottomHeading = new Heading({fixed: "bottom"}, view.id + "hf");
//                                document.getElementById('body').appendChild(bottomHeading.domNode);
//
//                                view.inner_scroll.domNode.appendChild(bottomHeading.domNode);
//                                bottomHeading.startup();
//                            }

                                var table = document.createElement('table');
                                table.setAttribute("align", "center");
                                var tbody = document.createElement('tbody');
                                var tr = document.createElement('tr');
                                var td = document.createElement('td');
                                var img=document.createElement('img');
                                img.setAttribute("src", "/icons/shopping_bag128x128.ico");
                                td.setAttribute("aling", "center");
                                td.appendChild(img);
                                productView.domNode.appendChild(table);
                                table.appendChild(tbody);
                                tbody.appendChild(tr);
                                tr.appendChild(td);
                                productView.startup();
                        }
//                        btnAddToBasket.onClick=function(){
//                           // addToBasket();
//                        };

                        viewAllBrands.loadProductContent(prodName);

                        productView.scrollTo({x: 0, y: 0});

                    };

                    viewAllBrands.loadProductContent = function (prodName) {
                        Request.getJSONData({
                                    url: "/mobile/get_product_description",
                                    condition: "prodName=" + prodName,
                                    //    condition: "action=get_main_data&bdate=" + bdate + "&edate=" + edate + "&" + unit_params + detail,
                                    consoleLog: true
                                }
                                , function (success, result) {
                                    if (success) {                                          console.log("loadProductContent result=", result);
                                        var data = [];
                                      //  if (result.items) data = result.items;
                                        if (result.error) {
                                            viewAllBrands.msgBox.innerHTML = "Нет данных";          console.log("view_main.loadDetailContent getJSONData DATA ERROR! error=", result.error);
                                            viewAllBrands.dialogWin.show();
                                        }                                                           console.log("data=", result);
                                    } else {//error!!!
                                        viewAllBrands.msgBox.innerHTML = "Нет связи с сервером";
                                        viewAllBrands.dialogWin.show();
                                    }
                                    if (viewAllBrands.prog) viewAllBrands.prog.stop();

                                });
                    };
                    viewAllBrands.loadMainContent();
                });
</script>
</html>