<!DOCTYPE html>
<html lang="ru">
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/heart16.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>

    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1,-->
    <!--width=device-width, height=device-height, target-densitydpi=device-dpi"/>-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <link href="/jslib/dojox/mobile/themes/iphone/iphone.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/jslib/dojox/widget/Calendar/Calendar.css">
    <link rel="stylesheet" href="/jslib/dojox/calendar/themes/claro/Calendar.css">
    <link href="/jslib/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/order.css" media="screen">
    <!--<script type="text/javascript" src="/jslib/dojox/mobile/deviceTheme.js"></script>-->

    <script src="/jslib/moment/moment-with-locales.js"></script>
    <script src="/jslib/numeral/numeral.js"></script>
    <script src="/jslib/numeral/languages/ru-UA.js"></script>
    <script type="text/javascript" src="/jslib/dojo/dojo.js"
            data-dojo-config="async: true, parseOnLoad: false"></script>
    <title></title>
    <style>
    </style>
</head>
<body id="body" class="claro" style="width:100%; height: 100%">
</body>
<script>
    require(["dojo/dom-construct", "dojo/_base/xhr", "dojox/mobile", "dojox/mobile/parser", "dojox/mobile/View", "dojox/mobile/Heading", "dojox/mobile/RoundRectList",
                "dojox/mobile/ListItem", "dojo/parser", "dojo/ready", "dojox/mobile/ToolBarButton",
                "dijit/registry", "dojox/mobile/Tooltip", "dijit/CalendarLite", "dojox/mobile/IconItem", "dojox/mobile/IconContainer",
                "dojox/mobile/ToggleButton", "dojox/mobile/ScrollableView", "dojox/mobile/ProgressIndicator", "dojox/mobile/SimpleDialog", "dojox/mobile/Button",
                "calendarView", "pickUnitView", "detailView", "request"],
            function (domConstruct, xhr, mobile, mparser, View, Heading, roundRectList, ListItem, parser, ready, ToolBarButton, registry,
                      Tooltip, CalendarLite, IconItem, IconContainer, ToggleButton, ScrollableView, ProgressIndicator, SimpleDialog, Button,
                      CalendarView, PickUnitView, DetailView, Request) {
                moment.locale("uk");
                numeral.language('ru-UA');

                var mainView = new ScrollableView({id: "main_view"});
               // mainView.inner_scroll = new ScrollableView({{id: "main_view"}});
               // mainView.firstHeading = new Heading({id: "first_heading"});
                mainView.headingTop = new Heading({fixed:"top"});
                var headingBottomMainView = new Heading({fixed: "bottom"});
                var icon_btn = new ToolBarButton({icon: "/icons/hearts29x29.ico", iconPos: "0,0,29,29"});

                document.getElementById('body').appendChild(mainView.domNode);
                mainView.domNode.appendChild(mainView.headingTop.domNode);
                mainView.domNode.appendChild(headingBottomMainView.domNode);
                headingBottomMainView.startup();
                mainView.headingTop.addChild(icon_btn);
              //  mainView.addChild(mainView);

                mainView.startup();
                //mainView.startup();

                mainView.startProgressIndicator=function(){
                    if(mainView.prog) mainView.prog.destroy();
                    mainView.prog = new ProgressIndicator({size: 200, center: true,startSpinning:true});
                    document.getElementById('body').appendChild(mainView.prog.domNode);
                    mainView.prog.startup();
                };

                mainView.setBtnBasketIn = function(view) {
                    if (!view.btnBasket) {
                        view.btnBasket = new ToolBarButton({
                            id: "btn_basket" + view.id,
                            icon: "/icons/basket16x16.ico",
                            style: "float:right",
                            iconPos: "0,0,29,29",
                            moveTo: "view_basket",
                            transition: "none"
                        });
                    }
                    view.btnBasket.previousView = view;
                    view.btnBasket.onClick = function () {
                        mainView.startProgressIndicator();
                        mainView.buildUpBasketView(view.btnBasket);
                    };
                    view.headingTop.addChild(view.btnBasket);
                    view.headingTop.startup();
                    view.btnBasket.startup();
                };

                mainView.createDialogWindow = function() {
                    if (!mainView.dialogWin) {
                        mainView.dialogWin = new SimpleDialog({
                            id: "dialogWin"
                        });
                        document.getElementById('body').appendChild(mainView.dialogWin.domNode);
                    }
                    if (!mainView.msgBox) {
                        mainView.msgBox = domConstruct.create("div",
                                {class: "mblSimpleDialogText"},
                                mainView.dialogWin.domNode);
                    }
                    if (!mainView.cancelBtn)
                        mainView.cancelBtn = new Button({
                            class: "mblSimpleDialogButton mblRedButton",
                            innerHTML: "Ok"
                        });
                    mainView.cancelBtn.connect(mainView.cancelBtn.domNode, "click",
                            function (e) {
                                mainView.dialogWin.hide()
                            });
                    mainView.cancelBtn.placeAt(mainView.dialogWin.domNode);
                };
                mainView.setTestModeBtnIn=function(view){
                    var test_btn = new ToolBarButton({
                        icon: "/icons/exclamation-mark29x29.ico",
                        iconPos: "0,0,29,29",
                        //style: "float:right",
                        onClick: function () {
                            mainView.msgBox.innerHTML = mainView.mode;
                            mainView.dialogWin.show();
                        }
                    });
                    view.headingTop.addChild(test_btn);
                };
                mainView.setBtnBasketIn(mainView);
                mainView.createDialogWindow();
                mainView.startProgressIndicator();

                mainView.buildUpBasketView = function(btnBasket) {
                    if (!mainView.viewBasket) {
                        mainView.viewBasket = new ScrollableView({id: "view_basket"});
                        mainView.viewBasket.headingTop = new Heading({
                            label: "Корзина",
                            fixed: "top",
                            back: "Назад",
                            transition: "none"
                        });
                        var headingBottomBasket = new Heading({fixed: "bottom"});
                        mainView.viewBasket.orderBtn = new ToolBarButton({label:"Оформить заказ"});

                        document.getElementById('body').appendChild(mainView.viewBasket.domNode);
                        mainView.viewBasket.domNode.appendChild(mainView.viewBasket.headingTop.domNode);
                        mainView.viewBasket.domNode.appendChild(headingBottomBasket.domNode);
                        headingBottomBasket.addChild(mainView.viewBasket.orderBtn);
                        mainView.viewBasket.startup();
                    }
                    mainView.viewBasket.headingTop.set("moveTo", btnBasket.previousView.id);
                    //mainView.startProgressIndicator();
                    mainView.loadBasketViewContent();
                };

                mainView.loadBasketViewContent = function () {
                    Request.getJSONData({url: "/mobile/get_basket_content", consoleLog: true},
                            function (success, result) {
                                if (success) {
                                    if (result.empty) {
                                        mainView.setEmptyBasketContent();
                                        mainView.viewBasket.orderBtn.set("onClick", function () {
                                            //do nothing
                                        });
                                        return;
                                    }
                                    mainView.setBasketContent(result);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                            });
                    if (mainView.prog) mainView.prog.stop();
                    };

                mainView.setBasketContent = function(data){
                    if(mainView.viewBasket.list) mainView.viewBasket.list.destroy();
                    if (data.length < 1) {
                        mainView.setEmptyBasketContent();
                        mainView.viewBasket.orderBtn.set("onClick",function() {
                            //do nothing
                        });
                        return;
                    }
                    mainView.viewBasket.orderBtn.set("onClick",function(){
                        console.log("Оформить заказ");
                    });
                    mainView.viewBasket.list = new roundRectList({id:"basket_view"});
                    mainView.viewBasket.addChild(mainView.viewBasket.list);
                    mainView.viewBasket.orderBtn.set("clickable", true);
                    var listItem;
                    var totalSum=0;

                    for(var i in data){
                        if(mainView.viewBasket.divEmptyBasketContent){
                            mainView.viewBasket.divEmptyBasketContent.setAttribute("style","display:none");
                        }
                        var itemData = data[i];
                        listItem = new ListItem({
                            posID:itemData.SrcPosID,
                            prodID:itemData.ProdID,
                            label:itemData.SrcPosID+". "+itemData.ProdName+"<br>"+ itemData.Qty+"x"+itemData.PriceCC_wt,
                            variableHeight: true,
                            rightText:itemData.Qty * itemData.PriceCC_wt,
                            moveTo:"product_in_basket_view",
                            transition: "none",
                            onClick:function(){
                                mainView.startProgressIndicator();
                                mainView.buildUpProductInBasketView(this.prodID, this.posID)}
                        });
                        totalSum+=itemData.Qty * itemData.PriceCC_wt;
                        mainView.viewBasket.list.addChild(listItem);
                    }
                    listItem = new ListItem({
                        label:"Итого:",
                        rightText:totalSum
                    });
                    mainView.viewBasket.list.addChild(listItem);
                };

                mainView.setEmptyBasketContent = function () {

                    if(!mainView.viewBasket.divEmptyBasketContent) {

                        mainView.viewBasket.divEmptyBasketContent=document.createElement('div');

                        var divEmptyBasketText = document.createElement("div");
                        var divEmptyBasketImg = document.createElement("div");
                        var emptyBasketImg = document.createElement('img');
                        divEmptyBasketImg.appendChild(emptyBasketImg);
                        mainView.viewBasket.domNode.appendChild(mainView.viewBasket.divEmptyBasketContent);
                        //mainView.viewBasket.domNode.appendChild(divEmptyBasketImg);
                        divEmptyBasketText.innerText = "Ваша корзина пуста";
                        divEmptyBasketText.setAttribute("id", "div_empty_basket_text");
                        divEmptyBasketImg.setAttribute("id", "div_empty_basket_img");
                        emptyBasketImg.setAttribute("id", "empty_basket_img");
                        divEmptyBasketImg.setAttribute("align", "center");
                        mainView.viewBasket.divEmptyBasketContent.appendChild(divEmptyBasketText);
                        mainView.viewBasket.divEmptyBasketContent.appendChild(divEmptyBasketImg);

                    }
                    mainView.viewBasket.divEmptyBasketContent.setAttribute("style","display:inline");
                };

                mainView.setProductTable = function(view){
                    var table = document.createElement('table');
                    var tbody = document.createElement('tbody');
                    var trName = document.createElement('tr');
                    view.Name = document.createElement('td');
                    var trPrice = document.createElement('tr');
                    view.tdPrice = document.createElement('td');
                    var trUm = document.createElement('tr');
                    view.tdUm = document.createElement('td');
                    view.img = document.createElement('img');

                    var imgDiv= document.createElement('div');
                    imgDiv.appendChild(view.img);
                    view.domNode.appendChild(imgDiv);

                    imgDiv.setAttribute("align","center");
                    table.setAttribute("class", "product_description_table");
                    view.img.setAttribute("class", "product_img");
                    view.Name.setAttribute("class", "product_price_name");
                    view.tdUm.setAttribute("class", "product_um_td");
                    view.tdPrice.setAttribute("class", "product_price_td");

                    trName.appendChild(view.Name);
                    trPrice.appendChild(view.tdPrice);
                    trUm.appendChild(view.tdUm);

                    tbody.appendChild(trName);
                    tbody.appendChild(trUm);
                    tbody.appendChild(trPrice);
                    table.appendChild(tbody);
                    view.domNode.appendChild(table);
                };

                mainView.loadMainViewHeaderInfo = function () {
                    Request.getJSONData({url: "/mobile/get_orders_main_info", consoleLog: true},
                            function (success, result) {                                                                console.log("loadMainViewHeaderInfo result=", result);
                                if (success) {
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";
                                        mainView.dialogWin.show();
                                    } else mainView.setMainViewHeaderInfo(result);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            });
                };

                mainView.setMainViewHeaderInfo = function (maindata) {
                  //  mainView.startup();
                    mainView.startup();

                    if (maindata.mode && maindata.mode.toString().toLowerCase().indexOf("test") !== -1) {
                        mainView.mode=maindata.mode;
                        mainView.setTestModeBtnIn(mainView);
                    }
                    mainView.headingTop.set("label", maindata.head);
                    mainView.loadMainViewContent();
                };

                mainView.loadMainViewContent = function () {
                    if (mainView.view_main_list_items) mainView.view_main_list_items.destroy();
                    if (mainView.prog) mainView.prog.destroy();
                    mainView.prog = new ProgressIndicator({size: 200, center: true});
                    document.getElementById('body').appendChild(mainView.prog.domNode);


                    Request.getJSONData({
                                url: "/mobile/get_orders_main_content",
                                consoleLog: true
                            }
                            , function (success, result) {
                                if (success) {                                                                           console.log("mainView.loadMainViewContent getJSONData result=", result);
                                    var data = [];
                                    if (result.items) data = result.items;
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";                                       console.log("mainView.loadMainViewContent getJSONData DATA ERROR! error=", result.error);
                                        mainView.dialogWin.show();
                                    }
                                    mainView.setMainViewContent(data);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            }
                    );
                };

                mainView.setMainViewContent = function (detail_data) {
                    if (mainView.view_main_list_items) mainView.view_main_list_items.destroy();
                    mainView.view_main_list_items = new roundRectList({
                        style: "position:relative",
                        "id": "view_main_list_items"
                    });
                    mainView.addChild(mainView.view_main_list_items);
                    mainView.view_main_list_items.startup();
                    for (var i in detail_data) {
                        var dataItem = detail_data[i];
                        var list_item = new ListItem({
                            variableHeight: true,
                            label: dataItem.label,
                            rightText: dataItem.value,
                            moveTo: "detail_order_view",
                            transition: "none"
                        });
                        if (dataItem.catid) {
                            list_item.catid = dataItem.catid;
                            list_item.onClick = function () {
                                if (!mainView.oneBrandView) {
                                    mainView.oneBrandView = new ScrollableView({id: "detail_order_view"});
                                    document.getElementById("body").appendChild(mainView.oneBrandView.domNode);

                                    mainView.oneBrandView.headingTop = new Heading({
                                        fixed: "top",
                                        back: "Назад",
                                        moveTo: mainView.id,
                                        transition: "none"
                                    });

                                    var detailViewBottomHeading = new Heading({fixed: "bottom"});
                                   // mainView.oneBrandView.domNode.appendChild(mainView.oneBrandView.firstHeading.domNode);
                                    mainView.oneBrandView.domNode.appendChild(mainView.oneBrandView.headingTop.domNode);
                                    mainView.oneBrandView.domNode.appendChild(detailViewBottomHeading.domNode);
                                    mainView.setBtnBasketIn(mainView.oneBrandView);
                                  //  mainView.oneBrandView.firstHeading.startup();
                                    mainView.oneBrandView.headingTop.startup();
                                    mainView.oneBrandView.startup();
                                    if(mainView.mode=="test"){
                                        mainView.setTestModeBtnIn(mainView.oneBrandView);
                                    }
                                }
                                if (mainView.oneBrandView.product_list) mainView.oneBrandView.product_list.destroy();
                                mainView.startProgressIndicator();
                                mainView.loadOneBrandViewContent(this.catid, this.label);
                            };
                            mainView.view_main_list_items.addChild(list_item);
                            list_item.startup();
                        }
                    }
                };
//                    mainView.onBeforeTransitionIn = function () {
//                        mainView.loadMainViewContent();
//                    };

                mainView.loadOneBrandViewContent = function (catid, heading) {
                    Request.getJSONData({
                                url: "/mobile/get_orders_one_brand_items",
                                condition: "catid=" + catid,
                                consoleLog: true
                            }
                            , function (success, result) {
                                if (success) {
                                    console.log("mainView.loadOneBrandViewContent getJSONData result=", result);
                                    var data = [];
                                    if (result.items) data = result.items;
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";
                                        console.log("mainView.loadOneBrandViewContent getJSONData DATA ERROR! error=", result.error);
                                        mainView.dialogWin.show();
                                    }
                                    mainView.setOneBrandViewContent(data, heading);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            });
                };

                mainView.setOneBrandViewContent = function (data, heading) {
                    mainView.oneBrandView.headingTop.set("label", heading);

                    //mainView.oneBrandView.product_list = registry.byId("product_list_d1");
                   // if (mainView.oneBrandView.product_list) mainView.oneBrandView.product_list.destroy();
                    mainView.oneBrandView.product_list = new roundRectList({id: "product_list_d1"});
                    var product_list_item;
                    for (var i in data) {
                        var dataItem = data[i];
                        product_list_item = new ListItem({
                            productId:dataItem.prodId,
                            label: dataItem.label,
                            variableHeight: true,
                            rightText: dataItem.value,
                            moveTo: "product_view",
                            transition: "none"
                        });
                        product_list_item.onClick = function () {
                            mainView.buildUpProductView(this.productId);
                        };
                        mainView.oneBrandView.product_list.addChild(product_list_item);
                    }
                    mainView.oneBrandView.addChild(mainView.oneBrandView.product_list);
                    mainView.oneBrandView.product_list.startup();
                };

                mainView.buildUpProductView= function (prodId) {
                    if (!mainView.productView) {
                        mainView.productView = new ScrollableView({id: "product_view"});
                        document.getElementById("body").appendChild(mainView.productView.domNode);
                        mainView.productView.headingTop = new Heading({label: "Описание товара", back: "Назад",
                            moveTo: "detail_order_view", fixed: "top", transition: "none"
                        });
                        mainView.productViewBtn = new ToolBarButton({
                            label:"Добавить в корзину"
                        });
                        mainView.productViewBottomHeading = new Heading({fixed: "bottom"});
                        mainView.productView.domNode.appendChild(mainView.productView.headingTop.domNode);
                        mainView.productView.domNode.appendChild(mainView.productViewBottomHeading.domNode);
                        mainView.productViewBottomHeading.addChild(mainView.productViewBtn);
                        mainView.setBtnBasketIn(mainView.productView);
                        mainView.setProductTable(mainView.productView);
                        mainView.productView.startup();
                    }
                    mainView.productViewBtn.onClick = function () {
                        mainView.addToBasket(prodId);
                    };
                    mainView.loadProductViewContent(mainView.productView, prodId);
                };

                mainView.buildUpProductInBasketView=function (prodId, posId){
                    if(!mainView.productInBasketView){
                        mainView.productInBasketView = new ScrollableView({id: "product_in_basket_view"});
                        document.getElementById("body").appendChild(mainView.productInBasketView.domNode);
                        mainView.productInBasketView.headingTop = new Heading({
                            label: "Описание товара", back: "Назад", moveTo: "view_basket",
                            fixed: "top", transition: "none"
                        });
                        mainView.productInBasketViewBtn = new ToolBarButton({
                            label:"Удалить из корзины",
                            transition: "none",
                            moveTo:"view_basket"
                        });
                        mainView.productInBasketViewBottomHeading = new Heading({fixed: "bottom"});
                        mainView.productInBasketView.domNode.appendChild(mainView.productInBasketView.headingTop.domNode);
                        mainView.productInBasketView.domNode.appendChild(mainView.productInBasketViewBottomHeading.domNode);
                        mainView.productInBasketViewBottomHeading.addChild(mainView.productInBasketViewBtn);
                        mainView.setProductTable(mainView.productInBasketView);
                        mainView.productInBasketView.startup();
                    }
                    mainView.productInBasketViewBtn.onClick = function () {
                        mainView.startProgressIndicator();
                        mainView.deleteFromBasket(prodId,posId);
                        mainView.startProgressIndicator();
                        mainView.loadBasketViewContent();
                    };
                    mainView.loadProductViewContent(mainView.productInBasketView, prodId);
                };

                mainView.deleteFromBasket = function(prodId,posId){
                    Request.postJSONData({
                                url: "/mobile/orders_delete_from_basket",
                                data: {prodId: prodId,posId:posId }, consoleLog: true
                            },
                            function (success, data) {
                                if (!success) {
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                    return;
                                }
                                mainView.msgBox.innerHTML = "Удалено <br>"+ mainView.productView.Name.innerText;
                                mainView.dialogWin.show();
                                mainView.loadBasketViewContent();
                            });
                    if(mainView.prog)mainView.prog.stop();
                };

                mainView.addToBasket = function (prodId) {
                    Request.postJSONData({
                                url: "/mobile/orders_add_to_basket",
                                data: {prodId: prodId}, consoleLog: true
                            },
                            function (success, data) {
                                if (!success) {
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                    return;
                                }
                                mainView.msgBox.innerHTML = "Товар добавлен в корзину";
                                mainView.dialogWin.show();

                            });
                    if(mainView.prog)mainView.prog.stop();
                };

                mainView.loadProductViewContent=function (view,prodID) {
                    Request.getJSONData({
                        url: "/mobile/orders_get_product_description", condition: "prodID=" + prodID, consoleLog: true
                    }, function (success, result) {
                        if (success) {
                            var data = [];
                            if (result.error) {
                                mainView.msgBox.innerHTML = "Нет данных";                                               console.log("mainView.loadProductViewContent getJSONData DATA ERROR! error=", result.error);
                                mainView.dialogWin.show();
                            }
                        } else {//error!!!
                            mainView.msgBox.innerHTML = "Нет связи с сервером";
                            mainView.dialogWin.show();
                        }
                        mainView.fillUpProductDescription(view, result);
                        if (mainView.prog) mainView.prog.stop();
                    });
                };

                mainView.fillUpProductDescription = function (view, data) {
                    view.Name.innerText = '' + data.prodName;
                    view.tdPrice.innerText = "Цена: " + data.price;
                    view.tdUm.innerText = "Ед.изм: " + data.um;

                };
                mainView.loadMainViewHeaderInfo();
            });
</script>
</html>