<!DOCTYPE html>
<html lang="ru">
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/heart16.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <link href="/jslib/dojox/mobile/themes/iphone/iphone.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/jslib/dojox/widget/Calendar/Calendar.css">
    <link rel="stylesheet" href="/jslib/dojox/calendar/themes/claro/Calendar.css">
    <link href="/jslib/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/order.css" media="screen">
    <!--<script type="text/javascript" src="/jslib/dojox/mobile/deviceTheme.js"></script>-->

    <script src="/jslib/moment/moment-with-locales.js"></script>
    <script src="/jslib/numeral/numeral.js"></script>
    <script src="/jslib/numeral/languages/ru-UA.js"></script>
    <script type="text/javascript" src="/jslib/dojo/dojo.js"
            data-dojo-config="async: true, parseOnLoad: false"></script>
    <title></title>
    <style>
        .claro table.dijitCalendarContainer {
            margin: 25px auto;
        }

        .mblTooltipBubble {
            overflow: visible;
            padding: 3px;
        . mblTooltipBubble-styles;
        }

        #date_picker {
            text-align: center;
            position: relative;
            font-size: 1.5em;
            font-weight: lighter;
        }

        /*#view_main_detail_btn {*/
        /*display: inline-block;*/
        /*position: relative;*/
        /*cursor: pointer;*/
        /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/
        /*padding-bottom: 10px;*/
        /*margin-bottom: 5px;*/
        /*height: 29px;*/
        /*line-height: 29px;*/
        /*text-align: center;*/
        /*font-family: Helvetica;*/
        /*text-shadow: 0 1px 0 rgba(0, 0, 0, 1);*/
        /*font-size: 13px;*/
        /*font-weight: bold;*/
        /*vertical-align: middle;*/

        /*border-width: 1px;*/
        /*border-style: solid;*/
        /*border-color: #2f3740 #405a7e #375073 #3a4755;*/
        /*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);*/
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.305);*/

        /*color: #ffffff;*/
        /*background-color: #5877a2;*/
        /*background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#4a6c9b), color-stop(0.02, #8ea4c1), color-stop(0.5, #5877a2), color-stop(0.5, #476999));*/
        /*background-image: linear-gradient(to bottom, #222222 0%, #8ea4c1 2%, #5877a2 50%, #476999 50%, #4a6c9b 100%);*/
        /*}*/
    </style>
</head>
<body id="body" class="claro" style="width:100%; height: 100%">
</body>
<script>
    require(["dojo/dom-construct", "dojo/_base/xhr", "dojox/mobile", "dojox/mobile/parser", "dojox/mobile/View", "dojox/mobile/Heading", "dojox/mobile/RoundRectList",
                "dojox/mobile/ListItem", "dojo/parser", "dojo/ready", "dojox/mobile/ToolBarButton",
                "dijit/registry", "dojox/mobile/Tooltip", "dijit/CalendarLite", "dojox/mobile/IconItem", "dojox/mobile/IconContainer",
                "dojox/mobile/ToggleButton", "dojox/mobile/ScrollableView", "dojox/mobile/ProgressIndicator", "dojox/mobile/SimpleDialog", "dojox/mobile/Button",
                "calendarView", "pickUnitView", "detailView", "request"],
            function (domConstruct, xhr, mobile, mparser, View, Heading, roundRectList, ListItem, parser, ready, ToolBarButton, registry,
                      Tooltip, CalendarLite, IconItem, IconContainer, ToggleButton, ScrollableView, ProgressIndicator, SimpleDialog, Button,
                      CalendarView, PickUnitView, DetailView, Request) {
                moment.locale("uk");
                numeral.language('ru-UA');



                var mainView = new View({id: "main_view"});
                mainView.inner_scroll = new ScrollableView({});
                mainView.firstHeading = new Heading({id: "first_heading"});
                mainView.headingTop = new Heading({id: "heading_top"});
                var headingBottomMainView = new Heading({fixed: "bottom"});
                var icon_btn = new ToolBarButton({icon: "/icons/hearts29x29.ico", iconPos: "0,0,29,29"});

                document.getElementById('body').appendChild(mainView.domNode);
                mainView.addChild(mainView.firstHeading, 0);
                mainView.inner_scroll.domNode.appendChild(headingBottomMainView.domNode);
                headingBottomMainView.startup();
                mainView.headingTop.addChild(icon_btn);
                mainView.addChild(mainView.headingTop);
                mainView.addChild(mainView.inner_scroll);
                mainView.inner_scroll.startup();
                mainView.startup();

                displayBtnBucketIn(mainView);
                createDialogWindow();

                function displayBtnBucketIn(view) {
                    var btnBasket = registry.byId("btn_basket" + view.id);
                    if (!btnBasket) {
                        btnBasket = new ToolBarButton({
                            id: "btn_basket" + view.id,
                            icon: "/icons/basket16x16.ico",
                            style: "float:right",
                            iconPos: "0,0,29,29",
                            moveTo: "view_basket",
                            transition: "none"
                        });
                    }
                    btnBasket.previousView = view;
                    btnBasket.onClick = function () {
                        goToViewBasket(btnBasket);
                    };
                    view.headingTop.addChild(btnBasket);
                    view.headingTop.startup();
                    btnBasket.startup();
                }

                function goToViewBasket(btnBasket) {
                    var viewBasket = registry.byId("view_basket");
                    if (!viewBasket) {
                        viewBasket = new ScrollableView({id: "view_basket"});
                        viewBasket.headingTop = new Heading({
                            label: "Корзина",
                            fixed: "top",
                            back: "Назад",
                            transition: "none"
                        });
                        var headingBottomBasket = new Heading({fixed: "bottom"});
                        var orderBtn = new ToolBarButton({label:"Оформить заказ"});

                        document.getElementById('body').appendChild(viewBasket.domNode);
                        viewBasket.domNode.appendChild(viewBasket.headingTop.domNode);
                        viewBasket.domNode.appendChild(headingBottomBasket.domNode);
                        headingBottomBasket.addChild(orderBtn);
                        viewBasket.startup();

//                        var basketTable= document.createElement('table');
//                        var th=document.createElement('th');
//                        var thRow=document.createElement('tr');
//
//                        document.getElementById('body').appendChild(basketTable);
//                        basketTable.appendChild(th);
//                        th.appendChild(thRow);
                    }

                    mainView.loadBasketViewContent();
                    viewBasket.headingTop.set("moveTo", btnBasket.previousView.id);

                    if(viewBasket.table) viewBasket.table.destroy();                                        //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                }

                mainView.loadBasketViewContent = function () {
                    Request.getJSONData({url: "/mobile/get_basket_content", consoleLog: true},
                            function (success, result) {
                                if (success) {
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";
                                        mainView.dialogWin.show();
                                    } else  createPrintDetailTable(result);                               //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            });
                };

                var createPrintDetailTable = function (tableColumns, tableData, table_width) {
                    var table = document.createElement('table');
                    var thead = document.createElement("thead");
                    var tbody = document.createElement('tbody');
                    table.appendChild(thead);
                    table.appendChild(tbody);

                    var table_header_row = table.insertRow(0);
                    for (var col = 0; col < tableColumns.length; col++) {
                        var tableColumnData = tableColumns[col];
                        var h_cell = document.createElement("TH");
                        var col_width = (tableColumnData.width != undefined) ? tableColumnData.width : 80;
                        h_cell.setAttribute("style", "width:" + col_width + "px");
                        h_cell.innerHTML = tableColumnData.name;
                        table_header_row.appendChild(h_cell);
                    }
                    table.setAttribute("style", "width:" + table_width + "px;");
                    thead.appendChild(table_header_row);

                    for (var row = 0; row < tableData.length; row++) {
                        var dataItem = tableData[row];
                        var tableRow = table.insertRow(-1);
                        tbody.appendChild(tableRow);

                        for (var col = 0; col < tableColumns.length; col++) {
                            var tableCell = tableRow.insertCell(-1);
                            var dataItemName = tableColumns[col].data;
                            var data_type = tableColumns[col].type;
                            var cellValue;
                            if (dataItemName) {
                                cellValue = formatValue(dataItem[dataItemName], data_type);
                            }
                            if (cellValue !== undefined && cellValue !== null) {
                                tableCell.innerText = formatValue(cellValue, data_type);
                                tableCell.setAttribute("style", createTableValueStyle(tableColumns[col]));
                            }
                        }
                    }
                    return table;
                };

                mainView.loadMainContent = function () {
                    Request.getJSONData({url: "/mobile/get_main_info", consoleLog: true},
                            function (success, result) {
                                if (success) {
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";
                                        mainView.dialogWin.show();
                                    } else mainView.setMainContent(result);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            });
                };

                mainView.setMainContent = function (maindata) {
                    mainView.inner_scroll.startup();
                    mainView.startup();

                    if (maindata.mode && maindata.mode.toString().toLowerCase().indexOf("test") !== -1) {
                        var test_btn = new ToolBarButton({
                            icon: "/icons/exclamation-mark29x29.ico",
                            iconPos: "0,0,29,29",
                            style: "float:right",
                            onClick: function () {
                                mainView.msgBox.innerHTML = maindata.mode;
                                mainView.dialogWin.show();
                            }
                        });
                        mainView.firstHeading.addChild(test_btn);
                    }
                    mainView.firstHeading.set("label", maindata.head);
                    mainView.loadDetailContent();
                };

                mainView.loadDetailContent = function () {
                    if (mainView.view_main_list_items) mainView.view_main_list_items.destroy();
                    if (mainView.prog) mainView.prog.destroy();
                    mainView.prog = new ProgressIndicator({size: 200, center: true});
                    document.getElementById('body').appendChild(mainView.prog.domNode);
                    mainView.prog.start();

                    Request.getJSONData({
                                url: "/mobile/get_orders",
                                consoleLog: true
                            }
                            , function (success, result) {
                                if (success) {                                                                           console.log("mainView.loadDetailContentt getJSONData result=", result);
                                    var data = [];
                                    if (result.items) data = result.items;
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";                                       console.log("mainView.loadDetailContent getJSONData DATA ERROR! error=", result.error);
                                        mainView.dialogWin.show();
                                    }
                                    mainView.setDetailContent(data);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();
                            }
                    );
                };

                mainView.setDetailContent = function (detail_data) {
                    if (mainView.view_main_list_items) mainView.view_main_list_items.destroy();
                    mainView.view_main_list_items = new roundRectList({
                        style: "position:relative",
                        "id": "view_main_list_items"
                    });
                    mainView.inner_scroll.addChild(mainView.view_main_list_items);
                    mainView.view_main_list_items.startup();
                    for (var i in detail_data) {
                        var dataItem = detail_data[i];
                        var list_item = new ListItem({
                            variableHeight: true,
                            label: dataItem.label,
                            rightText: dataItem.value,
                            moveTo: "detail_order_view",
                            transition: "none"
                        });
                        if (dataItem.catid) {
                            list_item.catid = dataItem.catid;
                            list_item.onClick = function () {
                                if (!mainView.oneBrandView) {
                                    mainView.oneBrandView = new ScrollableView({id: "detail_order_view"});
                                    document.getElementById("body").appendChild(mainView.oneBrandView.domNode);
                                    mainView.oneBrandView.headingTop = new Heading({
                                        fixed: "top",
                                        back: "Назад",
                                        moveTo: mainView.id,
                                        transition: "none"
                                    });
                                    var detailViewBottomHeading = new Heading({fixed: "bottom"});
                                    mainView.oneBrandView.domNode.appendChild(mainView.oneBrandView.headingTop.domNode);
                                    mainView.oneBrandView.domNode.appendChild(detailViewBottomHeading.domNode);
                                    displayBtnBucketIn(mainView.oneBrandView);
                                    mainView.oneBrandView.headingTop.startup();
                                    mainView.oneBrandView.startup();
                                }

                                mainView.loadOneBrandItems(this.catid, this.label);
                            };
                            mainView.view_main_list_items.addChild(list_item);
                            list_item.startup();
                        }
                    }
                };
//                    mainView.onBeforeTransitionIn = function () {
//                        mainView.loadDetailContent();
//                    };

                mainView.loadOneBrandItems = function (catid, heading) {
                    Request.getJSONData({
                                url: "/mobile/get_brand_items",
                                condition: "catid=" + catid,
                                consoleLog: true
                            }
                            , function (success, result) {
                                if (success) {                                                                  console.log("mainView.loadOneBrandItems getJSONData result=", result);
                                    var data = [];
                                    if (result.items) data = result.items;
                                    if (result.error) {
                                        mainView.msgBox.innerHTML = "Нет данных";                               console.log("mainView.loadOneBrandItems getJSONData DATA ERROR! error=", result.error);
                                        mainView.dialogWin.show();
                                    }mainView.fillUpOneBrandList(data, heading);
                                } else {//error!!!
                                    mainView.msgBox.innerHTML = "Нет связи с сервером";
                                    mainView.dialogWin.show();
                                }
                                if (mainView.prog) mainView.prog.stop();

                            }
                    );
                };

                mainView.fillUpOneBrandList = function (data, heading) {
                    mainView.oneBrandView.scrollTo({x: 0, y: 0});
                    mainView.oneBrandView.headingTop.set("label", heading);

                    var product_list = registry.byId("product_list_d1");
                    if (product_list) product_list.destroy();
                    product_list = new roundRectList({id: "product_list_d1"});
                    var product_list_item;
                    for (var i in data) {
                        var dataItem = data[i];                                                                 console.log("dataItem=",dataItem);
                        product_list_item = new ListItem({
                            productId:dataItem.prodId,
                            label: dataItem.label,
                            variableHeight: true,
                            rightText: dataItem.value,
                            moveTo: "product_view",
                            transition: "none"
                        });
                        product_list_item.onClick = function () {
                            mainView.showProductView(this.productId);
                        };
                        product_list.addChild(product_list_item);
                    }
                    mainView.oneBrandView.addChild(product_list);
                    product_list.startup();
                };

                mainView.showProductView = function (prodId) {
                    if (!mainView.productView) {
                        mainView.productView = new ScrollableView({id: "product_view"});
                        document.getElementById("body").appendChild(mainView.productView.domNode);
                        mainView.productView.headingTop = new Heading({
                            label: "Описание товара",
                            back: "Назад",
                            moveTo: "detail_order_view",
                            fixed: "top",
                            transition: "none"
                        });
                        mainView.productView.onTouchMove = function () {
                            mainView.productView.abort();
                        };
                        var productViewBottomHeading = new Heading({fixed: "bottom"});
                        mainView.productView.domNode.appendChild(mainView.productView.headingTop.domNode);
                        mainView.productView.domNode.appendChild(productViewBottomHeading.domNode);
                        var btnAddToBasket = new ToolBarButton({label: "Добавить в корзину"});
                        productViewBottomHeading.addChild(btnAddToBasket);
                        displayBtnBucketIn(mainView.productView);

                        var table = document.createElement('table');
                        var tbody = document.createElement('tbody');
                        var trImg = document.createElement('tr');
                        var tdImg = document.createElement('td');
                        var trName = document.createElement('tr');
                        mainView.productView.Name = document.createElement('td');
                        var trPrice = document.createElement('tr');
                        mainView.productView.tdPrice = document.createElement('td');
                        var trUm = document.createElement('tr');
                        mainView.productView.tdUm = document.createElement('td');
                        mainView.productView.img = document.createElement('img');

                        table.setAttribute("class", "product_description_table");
                        tdImg.setAttribute("class", "product_img_td");
                        mainView.productView.img.setAttribute("class", "product_img");
                        mainView.productView.Name.setAttribute("class", "product_price_name");
                        mainView.productView.tdUm.setAttribute("class", "product_um_td");
                        mainView.productView.tdPrice.setAttribute("class", "product_price_td");

                        tdImg.appendChild(mainView.productView.img);

                        trImg.appendChild(tdImg);
                        trName.appendChild(mainView.productView.Name);
                        trPrice.appendChild(mainView.productView.tdPrice);
                        trUm.appendChild(mainView.productView.tdUm);

                        tbody.appendChild(trImg);
                        tbody.appendChild(trName);
                        tbody.appendChild(trUm);
                        tbody.appendChild(trPrice);

                        table.appendChild(tbody);
                        mainView.productView.domNode.appendChild(table);
                        mainView.productView.startup();

                    }
                    //mainView.productView.Name.innerText = '' + prodName;

                    mainView.loadProductContent(prodId);

                    btnAddToBasket.onClick=function(){
                        addToBasket(prodId);
                    };

                };

                function addToBasket(prodId) {
                    Request.postJSONData({
                                url: "/mobile/add_to_basket",
                               // condition: condition,
                                //  condition: "bdate=" + bdate + "&edate=" + edate + "&stocksList=" + stocksList,
                               data: {prodId: prodId}, consoleLog: true
                            },
                            function (success, data) {
                                if (!success) {
                                   // displayQueryResultSQl.innerHTML = "<div><b style='color:red'>Error in request</b></div>";
                                    return;
                                }
                                if (data.error){}
                                  //  displayQueryResultSQl.innerHTML = "<div><b style='color:red'>" + data.error + "</b></div>";
                                else{}
                                  //  displayQueryResultSQl.innerHTML = JSON.stringify(data.result);
                            });
                }

                mainView.loadProductContent = function (prodID) {
                    Request.getJSONData({
                        url: "/mobile/get_product_description", condition: "prodID=" + prodID, consoleLog: true
                    }, function (success, result) {
                        if (success) {                                                                                  console.log("mainView.loadProductContent result=", result);
                            var data = [];
                            if (result.error) {
                                mainView.msgBox.innerHTML = "Нет данных";                                               console.log("mainView.loadProductContent getJSONData DATA ERROR! error=", result.error);
                                mainView.dialogWin.show();
                            }
                        } else {//error!!!
                            mainView.msgBox.innerHTML = "Нет связи с сервером";
                            mainView.dialogWin.show();
                        }
                        mainView.fillUpProductDescription(result);
                        if (mainView.prog) mainView.prog.stop();

                    });
                };

                mainView.fillUpProductDescription = function (data) {
                    mainView.productView.Name.innerText = '' + data.prodName;
                    mainView.productView.tdPrice.innerText = "Цена: " + data.price;
                    mainView.productView.tdUm.innerText = "Ед.изм: " + data.um;

                };

                function createDialogWindow() {
                    if (!mainView.dialogWin) {
                        mainView.dialogWin = new SimpleDialog({
                            id: "dialogWin"
                        });
                        document.getElementById('body').appendChild(mainView.dialogWin.domNode);
                    }
                    if (!mainView.msgBox) {
                        mainView.msgBox = domConstruct.create("div",
                                {class: "mblSimpleDialogText"},
                                mainView.dialogWin.domNode);
                    }
                    if (!mainView.cancelBtn)
                        mainView.cancelBtn = new Button({
                            class: "mblSimpleDialogButton mblRedButton",
                            innerHTML: "Ok"
                        });
                    mainView.cancelBtn.connect(mainView.cancelBtn.domNode, "click",
                            function (e) {
                                mainView.dialogWin.hide()
                            });
                    mainView.cancelBtn.placeAt(mainView.dialogWin.domNode);
                }

                mainView.loadMainContent();

            });
</script>
</html>