<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/icons/heart16.ico"/>
    <!--<link href='//fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes"/>-->
    <link href="/jslib/dojox/mobile/themes/iphone/iphone.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/jslib/dojox/widget/Calendar/Calendar.css">
    <link rel="stylesheet" href="/jslib/dojox/calendar/themes/claro/Calendar.css">
    <link href="/jslib/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" src="/jslib/dojox/mobile/deviceTheme.js"></script>-->

    <script src="/jslib/moment/moment-with-locales.js"></script>
    <script src="/jslib/numeral/numeral.js"></script>
    <script src="/jslib/numeral/languages/ru-UA.js"></script>
    <script type="text/javascript" src="/jslib/dojo/dojo.js"
            data-dojo-config="async: true, parseOnLoad: false"></script>
    <title></title>
<style>
    table{
        margin: 0 auto;
        border-spacing:15px;
    }
    td{
        width:64px;
        height:64px;
        border-radius: 50px 50px;
        border: solid 1px;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
    }
</style>
</head>
<body id="body" class="claro" style="width:100%; height: 100%">
<div id="pass_view">
    <div id="heading"></div>
    <div id="pane"  style="width:100%;height:100%;">
        <!--<div id ="icon_container">-->
        <table>
            <tr>
                <td  id ="number_one">1</td>
                <td id="number_two">2</td>
                <td id="number_three">3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr>
                <td style="border:none"></td>
                <td>0</td>
                <td style="border:none"></td>
            </tr>
        </table>
        </div>
    <!--</div>-->
    <div id="bottom_heding"></div>
</div>
</body>
<script>
    require(["dojo/dom-construct", "dojo/_base/xhr", "dojox/mobile", "dojox/mobile/parser", "dojox/mobile/View", "dojox/mobile/Heading", "dojox/mobile/RoundRectList",
                "dojox/mobile/ListItem", "dojo/parser", "dojo/ready", "dojox/mobile/ToolBarButton",
                "dijit/registry", "dojox/mobile/Tooltip", "dijit/CalendarLite", "dojox/mobile/IconMenuItem", "dojox/mobile/IconContainer",
                "dojox/mobile/ToggleButton", "dojox/mobile/ScrollableView", "dojox/mobile/ProgressIndicator", "dojox/mobile/SimpleDialog",
                "dojox/mobile/Button",'dojox/mobile/Container',
                "calendarView", "pickUnitView", "detailView", "request"],
            function ( domConstruct, xhr, mobile, mparser, View, Heading, roundRectList, ListItem, parser, ready, ToolBarButton, registry,
                       Tooltip, CalendarLite, IconItem, IconContainer, ToggleButton, ScrollableView, ProgressIndicator, SimpleDialog, Button, Pane,
                       CalendarView, PickUnitView, DetailView, Request) {
//                moment.locale("uk");
//                numeral.language('ru-UA');

                var passView = new ScrollableView({},"pass_view");
                var passHeading = new Heading({label: "Введите пароль",fixed: "top"},"heading");
                var contentPane = new Pane({},"pane");
                var bottomHeading = new Heading({fixed: "bottom"},"bottom_heding");

                var iconCont = new IconContainer({style:"width:100%;height:100%;",iconPos:"0,0,64,64"},"icon_container");


              //  var iconOne = new IconItem({ icon: "/icons/number-one64x64.ico",iconPos:"0,0,64,64", transition:"none", moveTo:null},"number_one");
               // var iconTwo = new IconItem({ icon: "/icons/number-two64x64.ico",iconPos:"0,0,64,64"}, "number_two");
               // iconCont.addChild(iconOne);
             //   iconOne.startup();
//                iconOne.onClick=function(){
//                    iconOne.set("selected","false");
//                };
                bottomHeading.startup();
                passHeading.startup();
                contentPane.startup();
//                iconOne.startup();
//                iconCont.startup();
                passView.startup();
                });
    </script>
</html>
