<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body id="body">
<div id="sql_queries_PageContent" style="width:100%;height:100%;">
    <div id="sql_queries_TopContent" style="width:100%;height:50px; margin:0;padding:0; display: inline-block ">
        <table width="100%">
            <tr>
                <td width="200px;">
                    <div id="filename"></div>
                </td>
                <td align="center">
                    <table id="sql_params_table"></table>
                </td>
                <td width="40px;">
                    <button id="sql_runBtn">Run</button>
                </td>
                <td width="100px;">
                    <button id="sql_saveBtn">Save</button>
                </td>
                <td width="440px;"></td>
            </tr>
        </table>
    </div>
    <div id="sql_queries_LeftContent" style="width:150px;height:100%; margin:0;padding:0; ">
        <button id="detail_view_card">detail_view_card</button><br>
        <button id="detail_view_cash">detail_view_cash</button><br>
        <button id="detail_view_other">detail_view_other</button><br>
        <button id="detail_view_returns">detail_view_returns</button><br>
        <button id="detail_view_sales">detail_view_sales</button><br>
        <button id="main_view">main_view</button><br>
        <button id="main_view_d">main_view_d</button><br>
        <button id="units">units</button><br>
    </div>
    <div id="sql_queries_DetailContent" style="width:100%;height:100%; margin:0;padding:0;">
        <table width='100%' height='100%'>
            <tr>
                <td style="padding-top:3px;padding-left:2px;padding-right:6px;">
                    <textarea id="sql_display_content" style="border:none;width:100%;height:100%;"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div id="sql_queries_RightContent" style="width:500px;height:100%; margin:0;padding:0;">
        <div id="sql_display_result">
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    require(["app", "dijit/layout/BorderContainer", "dijit/layout/LayoutContainer", "dijit/layout/ContentPane", "dojo/data/ItemFileReadStore",
                "dijit/form/TextBox", "dijit/form/DateTextBox", "dijit/form/Button","dijit/ConfirmDialog",
                "request"],
            function (APP, BorderContainer, LayoutContainer, ContentPane, ItemFileReadStore, TextBox, DateTextBox, Button,ConfirmDialog,
                      Request) {
                var borderContainer= APP.initElem("sql_queries_PageContent", BorderContainer, {});
                var sql_queries_TopContent= APP.initElem("sql_queries_TopContent", ContentPane, {region:"top"});
                var sql_queries_LeftContent= APP.initElem("sql_queries_LeftContent", ContentPane, {region:"left"});
                var sql_queries_DetailContent= APP.initElem("sql_queries_DetailContent", ContentPane, {region:"center"});
                var sql_queries_RightContent= APP.initElem("sql_queries_RightContent", ContentPane, {region:"right",splitter:true});
                var sql_display_content=document.getElementById("sql_display_content");
                var sql_display_result=document.getElementById("sql_display_result");

//                var detailViewCardBtn= APP.initElem("detail_view_card", Button, {type:"button",onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)}, filename: "mobile_detail_view_card.sql"});
//                detailViewCardBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var detailViewCashBtn= APP.initElem("detail_view_cash", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_detail_view_cash.sql"});
//                detailViewCashBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var detailViewOtherBtn= APP.initElem("detail_view_other", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_detail_view_other.sql"});
//                detailViewOtherBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var detailViewReturnsBtn= APP.initElem("detail_view_returns", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_detail_view_returns.sql"});
//                detailViewReturnsBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var detailViewSalesBtn= APP.initElem("detail_view_sales", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_detail_view_sales.sql"});
//                detailViewSalesBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var mainViewBtn= APP.initElem("main_view", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_main_view.sql"});
//                mainViewBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var mainViewDetBtn= APP.initElem("main_view_d", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_main_view_d.sql"});
//                mainViewDetBtn.domNode.firstChild.setAttribute("style","width:120px;");
//                var unitsBtn= APP.initElem("units", Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: "mobile_units.sql"});
//                unitsBtn.domNode.firstChild.setAttribute("style","width:120px;");

                createLeftContentButton("detail_view_card","mobile_detail_view_card.sql");
                createLeftContentButton("detail_view_cash","mobile_detail_view_cash.sql");
                createLeftContentButton("detail_view_other","mobile_detail_view_other.sql");
                createLeftContentButton("detail_view_returns","mobile_detail_view_returns.sql");
                createLeftContentButton("detail_view_sales","mobile_detail_view_sales.sql");
                createLeftContentButton("main_view","mobile_main_view.sql");
                createLeftContentButton("main_view_d","mobile_main_view_d.sql");
                createLeftContentButton("units","mobile_units.sql");
                var sql_runBtn = APP.initElem("sql_runBtn", Button,{});
                var sql_saveBtn = APP.initElem("sql_saveBtn", Button,{});
                var sql_params= document.getElementById("sql_params");
                borderContainer.startup();
                var confirmDialog = new ConfirmDialog({buttonOk:"Да",content:"Сохранить изменеия в файл?"});
                confirmDialog.startup();

                function createLeftContentButton(htmlId, fileName){
                    var button=APP.initElem(htmlId, Button, {onClick: function(){sql_queries_DetailContent.showRequestSqlText(this.filename)},filename: fileName});
                    button.onClick=function (){sql_queries_DetailContent.showRequestSqlText(this.filename)};
                    button.domNode.firstChild.setAttribute("style","width:120px;");
                }
                sql_queries_DetailContent.showRequestSqlText= function(filename) {
                    Request.getTextData({url: "/sysadmin/sql_queries/get_script", condition: "filename=" + filename, consoleLog: true
                            },
                            function (success, data) {
                                if (!success) {
                                    sql_display_content.value = "<div><b style='color:red'>No connection!</b></div>";
                                    return;
                                }
                                sql_display_content.value = data;
                                sql_display_result.innerHTML = "";
                                document.getElementById("filename").innerHTML = filename;
                                sql_queries_TopContent.showParamsInput(data);
                            });
                };
                sql_queries_TopContent.showParamsInput=function(queryString) {
                    var tr = document.getElementById("sql_params_tr");
                    if (tr)  tr.parentNode.removeChild(tr);
                    var paramMap = sql_queries_TopContent.defineParamName(queryString);
                    if (paramMap.length > 0) {
                        sql_queries_TopContent.createParamsInput(paramMap);
                        sql_queries_TopContent.fillInDefaultValues();
                    }
                };
                sql_queries_TopContent.defineParamName=function(text) {
                    var paramNameMap = []; var paramName; var target = "@"; var pos = 0;
                    while (true) {
                        var foundPos = text.indexOf(target, pos);
                        if (foundPos < 0)break;
                        paramName = text.substring(foundPos, text.indexOf(" ", foundPos));
                        if (paramName.indexOf("\n") > -1) {
                            paramName = paramName.substring(0, paramName.indexOf("\n"));
                            paramName = paramName.trim();
                        }
                        if (paramName.indexOf("+") > -1) paramName = paramName.substring(0, paramName.indexOf("+"));
                        if (paramNameMap.length == 0) paramNameMap.push(paramName);
                        else if (paramNameMap.indexOf(paramName) < 0)paramNameMap.push(paramName);
                        pos = foundPos + 1;
                    }
                    return paramNameMap;
                };
                sql_queries_TopContent.createParamsInput=function(paramNamesMap) {
                    var tr; var td;
                    if (tr)  tr.parentNode.removeChild(tr);
                    tr = document.createElement('tr');
                    tr.setAttribute("id", "sql_params_tr");
                    document.getElementById("sql_params_table").appendChild(tr);
                    for (var i = 0; i < paramNamesMap.length; i++) {
                        td = document.createElement('td');
                        tr.appendChild(td);
                        var id = paramNamesMap[i].substring(1);
                        var label = document.createElement("label");
                        label.htmlFor = id;
                        label.innerText = "" + paramNamesMap[i];
                        label.setAttribute("id", "ladel" + id);
                        var textBox = document.createElement("input");
                        textBox.setAttribute("name", id);
                        textBox.setAttribute("id", id);
                        td.appendChild(textBox);
                        td.insertBefore(label, textBox);
                    }
                };
                sql_queries_TopContent.fillInDefaultValues = function() {
                    var bdate = document.getElementById("BDATE");
                    var edate = document.getElementById("EDATE");
                    var stocksList = document.getElementById("StocksList");
                    if (bdate) {
                        var startOfYear = moment().startOf('year').format('YYYY-MM-DD');
                        bdate.setAttribute("value", startOfYear);
                    }
                    if (edate) {
                        var now = moment().format('YYYY-MM-DD');
                        edate.setAttribute("value", now);
                    }
                    if (stocksList) stocksList.setAttribute("value", "1");
                };
                sql_runBtn.onClick=function(){
                    var bdate; var edate; var stocksList;
                    sql_display_result.innerHTML="";
                    var newQueryText=document.getElementById("sql_display_content").value;
                    if(document.getElementById("BDATE"))bdate = document.getElementById("BDATE").value;
                    else bdate="0";
                    if(document.getElementById("EDATE"))edate = document.getElementById("EDATE").value;
                    else edate="0";
                    if(document.getElementById("StocksList"))stocksList = document.getElementById("StocksList").value;
                    else stocksList="0";
                    Request.postJSONData({
                                url: "/sysadmin/sql_queries/get_result_to_request",
                                condition: "bdate=" + bdate + "&edate=" + edate + "&stocksList="+stocksList,
                                data: {text: newQueryText}, consoleLog: true
                            },
                            function (success, data) {
                                if (!success) {
                                    sql_display_result.innerHTML = "<div><b style='color:red'>Error in request</b></div>";
                                    return;
                                }
                                if (data.error)
                                    sql_display_result.innerHTML = "<div><b style='color:red'>"+data.error+"</b></div>";
                                 else
                                    sql_display_result.innerHTML=JSON.stringify(data.result);
                            });
                };
                sql_saveBtn.onClick = function () {
                    var newQueryText = document.getElementById("sql_display_content").value;
                    if(!newQueryText){
                        sql_display_result.innerHTML = "<div><b style='color:red'>Нет информации для сохранения</b></div>";
                        return;
                    }
                    confirmDialog.show();
                    confirmDialog.onExecute=function() {
                        confirmDialog.hide();
                        var filename = document.getElementById("filename").innerText;
                        Request.postJSONData({url: "/sysadmin/sql_queries/save_sql_file", condition: "filename=" + filename,
                                    data: {text: newQueryText}, consoleLog: true
                                },
                                function (success, data) {
                                    if (!success) {
                                        sql_display_result.innerHTML = "<div><b style='color:red'>Error in request</b></div>";
                                        return;
                                    }
                                    if (data.error)
                                        sql_display_result.innerHTML = "<div><b style='color:red'>" + data.error + "</b></div>";
                                     else
                                        sql_display_result.innerHTML = "<div><b style='color:green'>" + data.success + "</b></div>";
                                });
                    }
                }
            });
</script>
</html>