<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="sa_startup_params_PageContent" style="width:510px;height:100%; margin:0;padding:0;">
    <table width="100%" height="100%">
        <tr>
            <td height="20px">
                <table width="100%">
                    <tr>
                        <th height="30px" width="180px"><b>system startup parameters:</b></th>
                        <th width="200px">
                            <div id="sa_startup_params_appLocalConfig">default</div>
                        </th>
                        <th></th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="1px">
                <table width="500px">
                    <tr>
                        <td><label for="host">db.Host </label></td>
                        <td><input id="host" type="text" aria-disabled="false"/></td>
                    </tr>
                    <tr>
                        <td><label for="database">db.Name </label></td>
                        <td><input id="database" type="text" aria-disabled="false"/></td>
                    </tr>
                    <tr>
                        <td><label for="user">db.user </label></td>
                        <td><input id="user" type="text" aria-disabled="false"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">db.password </label></td>
                        <td><input id="password" type="text" aria-disabled="false"/></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="30px">
                <button id="SA_startup_params_BtnAppLocalConfigLoad">Load settings</button>
                <button id="SA_startup_params_BtnAppLocalConfigSaveAndReconnect">Store settings & reconnect to
                    database
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
    require(["dijit/registry", "dijit/layout/BorderContainer", "dijit/layout/LayoutContainer", "dijit/layout/ContentPane", "dojo/data/ItemFileReadStore",
                "dijit/form/TextBox", "dijit/form/DateTextBox", "dijit/form/Button"],
            function (registry, BorderContainer, LayoutContainer, ContentPane, ItemFileReadStore, TextBox, DateTextBox, Button) {
                var sa_startup_params_PageContent = initElem(registry, "sa_startup_params_PageContent", "sa_startup_params_PageContent", ContentPane, {});

//                var sa_startup_params_ContentController =
//                        new ContentController({dataIDName:"db.engine", getURL:"/sysadmin/startup_parameters",postURL: "/sysadmin/startup_parameters", stateElementID:null});
//
//                sa_startup_params_ContentController.addElement("host", initElem(registry, "host", "host", TextBox, {style:"width:150px", readOnly:"false", disabled:"false"}));
//                sa_startup_params_ContentController.addElement("database", initElem(registry, "database", "database", TextBox, {style:"width:150px"}));
//                sa_startup_params_ContentController.addElement("user", initElem(registry, "user", "user", TextBox, {style:"width:100px"}));
//                sa_startup_params_ContentController.addElement("password", initElem(registry, "password", "password", TextBox, {style:"width:100px"}));
//
//                var SA_startup_params_BtnAppLocalConfigLoad=
//                        initElem(registry, "SA_startup_params_BtnAppLocalConfigLoad", "SA_startup_params_BtnAppLocalConfigLoad", Button, {style:"width:150px"});
//                var SA_startup_params_BtnAppLocalConfigSaveAndReconnect=
//                        initElem(registry, "SA_startup_params_BtnAppLocalConfigSaveAndReconnect", "SA_startup_params_BtnAppLocalConfigSaveAndReconnect",
//                            Button, {style:"width:150px"});
//                /*---actions---*/

                loadContent();
                function loadContent() {
                    console.log("loadContent");

                    var sa_startup_params_appLocalConfig = document.getElementById("sa_startup_params_appLocalConfig");
                    sa_startup_params_appLocalConfig.innerHTML = "<div><b>Loading configuration parameters...</b></div>";

                    getJSONData({url: "/sysadmin/startup_parameters/store_app_local_config", consoleLog: true},
                            function (success, result) {
                                if (success) {
                                    if (result.error) {
                                        sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>Cannot " + +"load configuration parameters! No connection to the server!</b></div>";
                                    } else setDBConfigContent(result);
                                } else {//error!!!
                                    sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>Cannot " + +"load configuration parameters! No connection to the server!</b></div>";
                                }
                            }
                    );
                }

                function setDBConfigContent(DBConfigData) {
                    var hostInput=new TextBox({id:"host", value:DBConfigData.host},"host");
                    var databaseInput=new TextBox({id:"database", value:DBConfigData.database},"database");
                    var userInput=new TextBox({id:"user", value:DBConfigData.user},"user");
                    var passwordInput=new TextBox({id:"password", value:DBConfigData.password},"password");

//                    document.getElementById("host").setAttribute("value", DBConfigData.host);
//                    document.getElementById("database").setAttribute("value", DBConfigData.database);
//                    document.getElementById("user").setAttribute("value", DBConfigData.user);
//                    document.getElementById("password").setAttribute("value", DBConfigData.password);
                }
                var reloadBtn = new Button({
                    id: "SA_startup_params_BtnAppLocalConfigLoad",
                    onClick: loadContent
                }, "SA_startup_params_BtnAppLocalConfigLoad");

                var saveAndReconnectBtn = new Button({
                    id: "SA_startup_params_BtnAppLocalConfigSaveAndReconnect",
                    onClick: loadContent
                }, "SA_startup_params_BtnAppLocalConfigSaveAndReconnect");

                saveAndReconnectBtn.onClick = function () {
                    var sa_startup_params_appLocalConfig = document.getElementById("sa_startup_params_appLocalConfig");
                    sa_startup_params_appLocalConfig.innerHTML = "<div><b>Configuration saving and reconnected to database...</b></div>";

                    var newDBConfig={
                        host: registry.byId("host").get('value'),
                        database: registry.byId("database").get('value'),
                        user: registry.byId("user").get('value'),
                        password: registry.byId("password").get('value')
                    };                                                                                                  console.log("newDBConfig=",newDBConfig);
                    postJSONData({url:  "/sysadmin/startup_parameters/save_app_local_config_and_reconnect", data: newDBConfig, consoleLog: true},
                            function (success, data) {
                                if (success) {
                                    if (data.error) {
                                        sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>" + data["error"] + "</b></div>";
                                    } else; //setDBConfigContent(data);!!!!!!!
                                } else {//error!!!
                                    sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>Cannot save and reconnect to database! No connection to the server!</b></div>";
                                }
                            });
                };

//                    sa_startup_params_ContentController.postDataToUrl("action=save_app_local_config_and_reconnect",
//                            /*postaction*/function (success, data, updateCount, resultItemData) {
//                                if (success) {
//                                    if (data["error"]) {
//                                        sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>" + data["error"] + "</b></div>";
//                                    } else {
//                                        sa_startup_params_appLocalConfig.innerHTML = "<div><b>Default configuration saved.</b></div>";
//                                        var reconnect_result_msg = "";
//                                        if (data.reconnect_result) {
//                                            reconnect_result_msg = "<div>Reconnected to: <span  style='text-decoration:underline'>" + data.reconnect_URL + "</span></div>";
//                                        } else {
//                                            if (data.reconnect_error) {
//                                                reconnect_result_msg = "<div><b style='color:red'>" + data.reconnect_error + "</b></div>";
//                                            } else {
//                                                reconnect_result_msg = "<div><b style='color:red'>Cannot reconnected to: </b></div>";
//                                            }
//                                        }
//                                        sa_startup_params_appLocalConfig.innerHTML = sa_startup_params_appLocalConfig.innerHTML + " " + reconnect_result_msg;
//                                    }
//                                    if (sa_startup_params_PageContent.getParent().updateStateInfo) sa_startup_params_PageContent.getParent().updateStateInfo();
//                                } else {
//                                    sa_startup_params_appLocalConfig.innerHTML = "<div><b style='color:red'>Cannot save and reconnect to database! No connection to the server!</b></div>";
//                                }
//                            });
              //  };
                /*---initing on load---*/
                // loadContent();
            });
</script>
</html>